body{
    background-color: #9b9b9b;
    padding: 45px;
    font-family: 'Roboto';
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 13px;

}

table{
    background-color: #fff;
    width: 100%;
    
}

table caption{
    background-color: #fff;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    padding: 15px
}

table thead th{
    text-align: left;
    font-size: 14px;
    font-weight: 500;
}